body {
    font-family: Verdana, sans-serif;
    background-color: #000000;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

#joke {
    font-size: 24px;
    margin: 20px 0;
}

#fetch-joke {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #beff0a;
    color: #000000;
    transition: background-color 0.3s;
}

#fetch-joke:hover {
    background-color: #7ab2ee;
}

.reactions {
    margin: 20px 0;
}

.emoji {
    font-size: 30px;
    cursor: pointer;
    margin: 0 10px;
}

#reaction-display {
    font-size: 18px;
    margin-top: 10px;
}
